body{
    padding: 0;
    margin: 0;
    height: 100vh;
}
.cv{
    position: relative;
    left: auto;
    right: auto;
    border: rgb(141, 141, 141) solid 4px;
    border-radius: 3px;
    margin-top: 15px;
}
.container{
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    background-image: linear-gradient(#75a7f3,#111f6f );
   
}